.chart-div{
  height: 100%;
  width: 100%;
  background-color: rgb(255, 254, 254);
  border-radius: 4px;
  box-shadow: 1px 1px 1px rgb(0,0,0,0.3);
}

.chart-child-div{ 
  padding-left:23px;
  height: 98%;
  width: 100%;
}

.DoughnutChart {
  /* width: 50%;
  margin: auto; */
}