
 .aside-bar {
  width: 250px;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  position: absolute;
  /* margin-top: 12px; */
  /* top: 0; */
  left: 0;
  transform: translateX(-100%);
  transition: all 0.4s ease-in-out;
  border: 1px solid rgb(52, 50, 50);

  /* background-color: #ddd;  */
  position: fixed;
  top: 84px;
  bottom: 0;
  left: 0;
  z-index: 999;
}
li{
  cursor: pointer;
}
.collapse {
  transform: translateX(0%);
}

.aside-bar ul li {
  list-style: none;
  text-align: center;
  padding: 15px 0px;
  border-bottom: 1px solid black;

}

.aside-bar ul li a {
  text-decoration: none;
  color: rgb(251, 251, 251);
}

.aside-bar ul li:hover {
  background-color: rgba(232, 238, 240, 0.885);
  color: rgb(11, 11, 11);
}

#aside-panel{
 color: white;
}
ul{
  margin-right: 35px;
}