
 .aside-bar {
  width: 270px;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 0;
  transform: translateX(-100%);
  transition: all 0.4s ease-in-out;
  border: 1px solid rgb(52, 50, 50);
  /* background-color: #ddd;  */
  position: fixed;
  top: 81.5px;
  bottom: 0;
  left: 0;
  z-index: 999;
}

/* #logo-name{
  height: 40px;
  width: 140px;
  text-align: center;
  margin-left: 53px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-shadow: 1px 1px 1px rgba(105, 96, 96, 0.5);
} */

#logo-name {
  height: 40px;
  width: 140px;
  /* text-align: center; */
  margin-top: 14px;
  margin-left: 50px;
  margin-bottom: 12px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  text-shadow: 1px 2.3px 2px  rgba(0, 0, 0, 0.1);
  font-size: 50px;
  background: linear-gradient(to right, rgb(237, 28, 195),  rgb(255, 58, 235), rgb(179, 98, 254), rgb(110, 7, 235));
  -webkit-background-clip: text;

  color: transparent;
  background-color: #bdb9b9;
  /* border: 1.3px solid #ccc; */
  border-radius: 5px;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#sub-text{
  position: absolute;
  margin-top: -20px;
  margin-left: 120px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  
}


#logo-name p{
  padding: 5px;
  font-size: 25px;
}

li{
  cursor: pointer;
}

#develop-text-line1{
  padding-top: 90px;
  line-height: 1px;
  text-align: center;
  color: rgb(78, 77, 77);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 15px;
  /* text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); */
}

#develop-text-line2{
  line-height: 1;
  text-align: center;
  color: rgb(78, 77, 77);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 15px;
  /* text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); */
}

.collapse {
  transform: translateX(0%);
}

.aside-bar ul li {
  list-style: none;
  text-align: center;
  padding: 15px 0px;
  border-bottom: 1px solid black;

}

.aside-bar ul li a {
  text-decoration: none;
  color: rgb(251, 251, 251);
}

.aside-bar ul li:hover {
  background-color: rgba(232, 238, 240, 0.885);
  color: rgb(11, 11, 11);
}

#aside-panel{
 color: white;
}
ul{
  margin-right: 35px;
}