.calander-div{
  margin-top: 12%;
  margin-left: 3%;
  height: 550px;
  width: 650px;
  background-color: rgb(248, 249, 249);
  border: 1px solid rgb(140, 137, 137);
  border-radius: 3px;
  box-shadow: 1px 3px 4px #00000080;
  /* margin-bottom: 20px; */
}


.custom-calendar{
  border-radius: 10px;
}

@media (max-width: 1200px) {
  .calander-div {
    padding: 10px;
  }
  
  .custom-calendar {
    height: 600px; /* Adjust height for medium screens */
  }
}

@media (max-width: 768px) {
  .calander-div {
    padding: 5px;
  }
  
  .custom-calendar {
    height: 400px; /* Adjust height for smaller screens */
  }
}

@media (max-width: 480px) {
  .calander-div {
    padding: 5px;
  }
}